
libpilocore/libpilocore_vs12_Static.aps
output/bin/perf-libpilocore_vs12_Win32_Debug_Static.pdb
output/bin/perf-libpilocore_vs12_x64_Debug_Static.exe
output/bin/perf-libpilocore_vs12_x64_Debug_Static.ilk
output/bin/perf-libpilocore_vs12_x64_Debug_Static.pdb
output/bin/test-libpilocore_vs12_x64_Debug_Static.exe
output/bin/test-libpilocore_vs12_x64_Debug_Static.ilk
output/bin/test-libpilocore_vs12_x64_Debug_Static.pdb
output/lib/libpilocore_vs12_Win32_Debug_Static.lib
output/lib/libpilocore_vs12_x64_Debug_Static.lib
win7x64_vs12/pilo.opensdf
win7x64_vs12/pilo.sdf
win7x64_vs12/pilo.v12.suo
*.obj
*.tlog
*.log
*.idb
*.pdb
