
libpilocore/libpilocore_vs12_Static.aps
output/bin/perf-libpilocore_vs12_Win32_Debug_Static.pdb
output/bin/perf-libpilocore_vs12_x64_Debug_Static.exe
output/bin/perf-libpilocore_vs12_x64_Debug_Static.ilk
output/bin/perf-libpilocore_vs12_x64_Debug_Static.pdb
output/bin/test-libpilocore_vs12_x64_Debug_Static.exe
output/bin/test-libpilocore_vs12_x64_Debug_Static.ilk
output/bin/test-libpilocore_vs12_x64_Debug_Static.pdb
output/lib/libpilocore_vs12_Win32_Debug_Static.lib
output/lib/libpilocore_vs12_x64_Debug_Static.lib
win7x64_vs12/pilo.opensdf
win7x64_vs12/pilo.sdf
win7x64_vs12/pilo.v12.suo
*.obj
*.tlog
*.log
*.idb
*.pdb
*.o
linuxx64_gcc/tmp/test-libpilocore/out/Debug_Static/test-libpilocore_gcc4.8_x64_Debug_Static
output/bin/perf-libpilocore_vs12_x64_Release_Static.exe
output/bin/test-libpilocore_gcc4.8_x64_Debug_Static
output/bin/perf-libpilocore_vs12_x64_Release_Static.exe
output/lib/libpilocore_gcc4.8_x64_Debug_Static.a
output/lib/libpilocore_vs12_x64_Release_Static.lib
output/bin/perf-libpilocore_vs12_x64_Release_Static.exe
output/bin/perf-libpilocore_vs12_x64_Release_Static.exe
output/lib/libpilocore_vs12_x64_Release_Static.lib
